<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name ="Twitter">
      <section name="OAuth_config" type="System.Configuration.DictionarySectionHandler"/>
      <section name ="OAuth_secret" type ="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>

  <Twitter>
    <OAuth_config>
      <add key="oauth_consumer_key" value="your consumer key"/>
      <add key="oauth_signature_method" value="HMAC-SHA1"/>
      <add key="oauth_token" value="your oauth token"/>
      <add key="oauth_version" value="1.0"/>
    </OAuth_config>

    <OAuth_secret>
      <add key="oauth_consumer_secret" value="your oauth secret"/>
      <add key="oauth_token_secret" value="your token secret"/>
    </OAuth_secret>
  </Twitter>
</configuration>